Source: ros-humble-gz-ros2-control-tests
Section: misc
Priority: optional
Maintainer: Alejandro Hernández <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-control-msgs, ros-humble-rclcpp, ros-humble-rclcpp-action, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-gz-ros2-control-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-psutil, python3-pytest, ros-humble-ament-index-python, ros-humble-control-msgs, ros-humble-geometry-msgs, ros-humble-hardware-interface, ros-humble-ign-ros2-control, ros-humble-joint-state-broadcaster, ros-humble-joint-trajectory-controller, ros-humble-launch, ros-humble-launch-ros, ros-humble-launch-testing-ament-cmake, ros-humble-rclcpp, ros-humble-robot-state-publisher, ros-humble-ros-ign-gazebo, ros-humble-ros2controlcli, ros-humble-ros2launch, ros-humble-xacro, ros-humble-ros-workspace
Description: Gazebo ros2 control tests
